In [1]:
# # Dict
# -Indexing
# -Multiple and duplicate data
# -Ordered
# -Mutable

In [2]:
# d = {<key>:<value>, <key>:<value>}

In [3]:
d = {'a':'Apple', 'b':"Ball",'c':"Cat"}
d

{'a': 'Apple', 'b': 'Ball', 'c': 'Cat'}

In [5]:
print(d['a'])
print(d['b'])

Apple
Ball

In [10]:
d = {'a':'Apple', 'b':"Ball",'c':"cat",'c':'Cat'}
d

{'a': 'Apple', 'b': 'Ball', 'c': 'Cat'}

In [11]:
# create a dict
d = {}
type(d)

dict

In [12]:
# create a dict
d = dict()
type(d)

dict

In [13]:
#Add values
d = {}
d['a'] = "Apple"
d['b'] = "Ball"
d['c'] = "Cat"
d

{'a': 'Apple', 'b': 'Ball', 'c': 'Cat'}

In [14]:
#update values
d = {'a': 'Apple', 'b': 'Ball', 'c': 'Cat'}
d['a'] = "Ant"
d

{'a': 'Ant', 'b': 'Ball', 'c': 'Cat'}

In [15]:
d = {'a': 'Ant', 'b': 'Ball', 'c': 'Cat'}
for i in d:
    print(i)

a
b
c

In [16]:
d = {'a': 'Ant', 'b': 'Ball', 'c': 'Cat'}
for i in d.values():
    print(i)

Ant
Ball
Cat

In [17]:
d = {'a': 'Ant', 'b': 'Ball', 'c': 'Cat'}
for i in d.items():
    print(i)

('a', 'Ant')
('b', 'Ball')
('c', 'Cat')

In [18]:
# convert list into dict
d = [['a','Ant'],['b','Ball'],['c','Cat']]
dict(d)

{'a': 'Ant', 'b': 'Ball', 'c': 'Cat'}

In [ ]:
#Add values
d = {}
d['a'] = "Apple"
d['b'] = "Ball"
d['c'] = "Cat"
d

In [20]:
data = {}
n = int(input("Enter n = "))
for i in range(n):
    name = input("Enter name = ")
    phone = input("Enter phone")
    data[name] = phone
    
print(data)

Enter n = 2
Enter name = ram
Enter phone9808778765
Enter name = Shyam
Enter phone9856778765
{'ram': '9808778765', 'Shyam': '9856778765'}

In [21]:
# No list as key in dict
data = {['ram']: '9808778765', ['Shyam']: '9856778765'}
data

TypeError: unhashable type: 'list'

In [22]:
#list inside dict
data = {"Ram":[9845667654,9808778765],"Shyam":[9878778765,9808778765]}
data

{'Ram': [9845667654, 9808778765], 'Shyam': [9878778765, 9808778765]}

In [23]:
data = {}
n = int(input("Enter n = "))
for i in range(n):
    name = input("Enter name = ")
    ntc_phone = input("Enter ntc phone no ")
    ncell_phone = input("Enter ncell phone no ")
    data[name] = [ntc_phone,ncell_phone]
    
print(data)

Enter n = 2
Enter name = Ram
Enter ntc phone no 984566765
Enter ncell phone no 9808778765
Enter name = Shyam
Enter ntc phone no 9845667654
Enter ncell phone no 9808778765
{'Ram': ['984566765', '9808778765'], 'Shyam': ['9845667654', '9808778765']}

In [26]:
print("NTC no of Ram",data['Ram'][0])

'984566765'

In [27]:
data = {
    'name':['Ram','Shyam','Hari'],
    'age' :[78,67,89],
    'add' :['Kathmandu',"Bhaktapur","Lalitpur"]
}

In [28]:
data = {'name':[],
       'age':[],
       'add':[]}

n = int(input("Enter n = "))
for i in range(n):
    name = input("Enter name = ")
    age = int(input("Enter age = "))
    add = input("Enter add = ")
    data['name'].append(name)
    data['age'].append(age)
    data['add'].append(add)
    
print(data)

Enter n = 2
Enter name = Ram
Enter age = 89
Enter add = Kathmandu
Enter name = Shyam
Enter age = 45
Enter add = Bhaktapur
{'name': ['Ram', 'Shyam'], 'age': [89, 45], 'add': ['Kathmandu', 'Bhaktapur']}

In [29]:
#Details of ram
a = {'name': ['Ram', 'Shyam'], 'age': [89, 45], 'add': ['Kathmandu', 'Bhaktapur']}
print("name" ,a['name'][0])
print("age",a['age'][0])
print("add",a['add'][0])

name Ram
age 89
add Kathmandu

In [30]:
# WAP to edit and delete above program

In [32]:
# dict inside dict
data = {'Physics':{'ptr':25,'th':60},
       'Chemistry':{'th':55,'ptr':25},
       'Math':{'ptr':25,'th':'67'}}

In [34]:
#ptr marks of physics
print(data['Physics']['ptr'])

25

In [35]:
print(data['Physics']['th'])

60

In [39]:
data['Physics']['th'] = 65
data

{'Physics': {'ptr': 25, 'th': 65},
 'Chemistry': {'th': 55, 'ptr': 25},
 'Math': {'ptr': 25, 'th': '67'}}

In [1]:
# # WAP to create dict inside dict with CRUD
# C = create
# R = read
# u = update
# d = delete

In [3]:
data = {}
n = int(input("Enter n = "))
for i in range(1,n+1):
    name = input("Enter name = ")
    age = int(input("Enter age = "))
    add = input("Enter add = ")
    data[i] = {'name':name,'age':age,'add':add}
    
print(data)

Enter n = 2
Enter name = Ram
Enter age = 89
Enter add = Kathmandu
Enter name = Shyam
Enter age = 45
Enter add = Kathmandu
{1: {'name': 'Ram', 'age': 89, 'add': 'Kathmandu'}, 2: {'name': 'Shyam', 'age': 45, 'add': 'Kathmandu'}}

In [4]:
#Add
data[3] = {'name':'Hari','age':34,'add':'Bara'}
data

{1: {'name': 'Ram', 'age': 89, 'add': 'Kathmandu'},
 2: {'name': 'Shyam', 'age': 45, 'add': 'Kathmandu'},
 3: {'name': 'Hari', 'age': 34, 'add': 'Bara'}}

In [7]:
#update
data[1]['age'] = 29
data

{1: {'name': 'Ram', 'age': 29, 'add': 'Kathmandu'},
 2: {'name': 'Shyam', 'age': 45, 'add': 'Kathmandu'},
 3: {'name': 'Hari', 'age': 34, 'add': 'Bara'}}

In [8]:
del data[3]
data

{1: {'name': 'Ram', 'age': 29, 'add': 'Kathmandu'},
 2: {'name': 'Shyam', 'age': 45, 'add': 'Kathmandu'}}