In [1]:
# Python collection
# -List
# -Tuple
# -Dictionary
# -Set

In [2]:
# list
# -Indexing
# -Duplicate and multiple values
# -Ordered
# -Mutable

In [4]:
l = list()
l = []

In [5]:
a = [1,2,3,4,5,6,7,8,9]
b = ["Apple","Ball","cat","Dog","Fish"]
print(type(a))
print(type(b))

<class 'list'>
<class 'list'>

In [13]:
a = ["Apple","Ball","cat","Dog","Fish"]
print(a[0])
print(a[0:5])
print(a[0:5:2])

Apple
['Apple', 'Ball', 'cat', 'Dog', 'Fish']
['Apple', 'cat', 'Fish']

In [14]:
a = ["Apple","Ball","cat","Dog","Fish","Apple","Ball"]
a

['Apple', 'Ball', 'cat', 'Dog', 'Fish', 'Apple', 'Ball']

In [15]:
# + *
a = [1,2,3,4]
b = [5,6,7,8]
c = a+b
print(c)

[1, 2, 3, 4, 5, 6, 7, 8]

In [16]:
a = [1,2,3,4]
b = 2
c = a*b
print(c)

[1, 2, 3, 4, 1, 2, 3, 4]

In [17]:
a = ['Apple', 'cat', 'Fish']
a*2

['Apple', 'cat', 'Fish', 'Apple', 'cat', 'Fish']

In [18]:
a = ['Apple', 'cat', 'Fish']
b = [1,2,3,4,5]
c = a+b
c

['Apple', 'cat', 'Fish', 1, 2, 3, 4, 5]

In [20]:
l = []
n = int(input('Enter n = '))
for i in range(n):
    x = int(input("Enter x = "))
    l = l + [x]    
print(l)
print("The sum=",sum(l))
print("The max =",max(l))
print("The min =",min(l))
print("The avg =",sum(l)/n)
l.sort()
print(l)
l.reverse()
print(l)

Enter n = 5
Enter x = 324
Enter x = 564
Enter x = 768
Enter x = 98
Enter x = 435
[324, 564, 768, 98, 435]
The sum= 2189
The max = 768
The min = 98
The avg = 437.8
[98, 324, 435, 564, 768]

In [21]:
a = ['Apple', 'cat', 'Fish', 'Apple', 'cat', 'Fish']
a.sort()
print(a)

['Apple', 'Apple', 'Fish', 'Fish', 'cat', 'cat']

In [22]:
# loop in list
a = ['Apple', 'cat', 'Fish']
for i in a:
    print(i)

Apple
cat
Fish

In [23]:
i = 0
a = ['Apple', 'cat', 'Fish']
l = len(a)
while i < l:
    print(a[i])
    i = i+1

Apple
cat
Fish

In [24]:
# insert values
# append() insert() extend()

# delete values
# del remove() pop()

In [25]:
a = []
a.append('Apple')
a.append('Ball')
a.append('Dog')
a

['Apple', 'Ball', 'Dog']

In [ ]:
l = []
n = int(input('Enter n = '))
for i in range(n):
    x = int(input("Enter x = "))
    l.append(x)
print(l)

In [26]:
# insert()
a = ['Apple', 'Apple', 'Fish', 'Fish', 'cat', 'cat']
a.insert(1,'apple')
a

['Apple', 'apple', 'Apple', 'Fish', 'Fish', 'cat', 'cat']

In [27]:
#extend()
a = [1,2,3]
b = [4,5,6]
a.extend(b)
a

[1, 2, 3, 4, 5, 6]

In [31]:
# delete values
# del remove() pop()
a = ['Apple', 'Apple', 'Fish', 'Fish', 'cat', 'cat']
del a[0]
print(a)

['Apple', 'Fish', 'Fish', 'cat', 'cat']

In [33]:
a = ['Apple', 'Apple', 'Fish', 'Fish', 'cat', 'cat']

del a[0:3]
a

['Fish', 'cat', 'cat']

In [34]:
a = [0,1,2,3,4,5,6,7,8,9]
a.remove(0)
a

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [35]:
a = ["Apple","Ball","Cat","Fish"]
a.remove("Apple")
a

['Ball', 'Cat', 'Fish']

In [38]:
a = ["Apple","Ball","Cat","Fish","Apple"]
a.remove("Apple")
a.remove("Apple")
a

['Ball', 'Cat', 'Fish']

In [39]:
a = ["Apple","Ball","Cat","Fish","Apple"]
c = a.count("Apple")
for i in range(c):
    a.remove("Apple")
print(a)

['Ball', 'Cat', 'Fish']

In [40]:
# pop()
a = ["Apple","Ball","Cat","Fish","Apple"]
a.pop(0)
print(a)

['Ball', 'Cat', 'Fish', 'Apple']

In [1]:
# list inside list (nested list)
a = [[1,2,3],
    [4,5,6],
    [7,8,9]]
a

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]

In [4]:
a[2]

[7, 8, 9]

In [6]:
a[0][0]

1

In [9]:
a = [["Ram",34,"Kathmandu"],
    ["Shyam",23,"Bhaktapue"],
    ["Hari",67,"Lalitpur"]]
print(a[0])
print(a[0][0])

['Ram', 34, 'Kathmandu']
Ram

In [10]:
l = []
n = int(input("Enter n = "))
for i in range(n):
    name = input("Enter name = ")
    age = int(input("Enter age = "))
    add = input("Enter address = ")
    info = [name,age,add]
    l.append(info)
    
print(l)

Enter n = 3
Enter name = Ram
Enter age = 89
Enter address = Kathmandu
Enter name = Shyam
Enter age = 78
Enter address = Bhaktapur
Enter name = Shyam
Enter age = 34
Enter address = Lalitpur
[['Ram', 89, 'Kathmandu'], ['Shyam', 78, 'Bhaktapur'], ['Shyam', 34, 'Lalitpur']]

In [3]:
l = [['Ram', 89, 'Kathmandu'], 
     ['Shyam', 78, 'Bhaktapur'], 
     ['Hari', 34, 'Lalitpur']]
#add new value
l.append(["Nabin",20,"Jhapa"])
l

[['Ram', 89, 'Kathmandu'],
 ['Shyam', 78, 'Bhaktapur'],
 ['Hari', 34, 'Lalitpur'],
 ['Nabin', 20, 'Jhapa']]

In [14]:
#update value
l[0] = ['Rama',34,'Chitwan']
l

[['Rama', 34, 'Chitwan'],
 ['Shyam', 78, 'Bhaktapur'],
 ['Hari', 34, 'Lalitpur'],
 ['Nabin', 20, 'Jhapa']]

In [15]:
l[0][0] = "Ram Prasad"
l

[['Ram Prasad', 34, 'Chitwan'],
 ['Shyam', 78, 'Bhaktapur'],
 ['Hari', 34, 'Lalitpur'],
 ['Nabin', 20, 'Jhapa']]

In [16]:
del l[0]
l

[['Shyam', 78, 'Bhaktapur'], ['Hari', 34, 'Lalitpur'], ['Nabin', 20, 'Jhapa']]

In [35]:
c = 0
data = [['Ram', 34, 'Chitwan'],
        ['Shyam', 78, 'Bhaktapur'],
        ['Hari', 34, 'Lalitpur'],
        ['Ram', 20, 'Jhapa']]
name = input("Enter name = ")
for i in data:
    if i[0].lower() == name.lower():
        print(i)
        c = c +1
        
if c == 0:
    print("Name not found")
else:
    print(c,"no of rows found")

Enter name = rAm
['Ram', 34, 'Chitwan']
['Ram', 20, 'Jhapa']
2 no of rows found

In [32]:
a = ["Ram","Shyam","Hari","Ram"]
if "Ram" in a:
    print("Yes")
    print(a.count("Ram"))
else:
    print("No such name")

Yes
2

In [33]:
c = 0
data = [['Ram', 34, 'Chitwan'],
        ['Shyam', 78, 'Bhaktapur'],
        ['Hari', 34, 'Lalitpur'],
        ['Ram', 20, 'Jhapa']]
name = input("Enter name = ")
for i in data:
    if name in i:
        print(i)
        c = c +1
        
if c == 0:
    print("Name not found")
else:
    print(c,"no of rows found")

Enter name = Ram
['Ram', 34, 'Chitwan']
['Ram', 20, 'Jhapa']
2 no of rows found

In [ ]:
# WAP to create matrix taking no of rows, columns and data as input
#WAP to convert string into list inside list eg
#split()
# Apple 300 1 300
# Banana 200 2 400
#       to
# [['Apple',300, 1, 300],
# ['Banana', 200, 2, 400]]

# WAP to create result management syatem in list inside list and perform CRUD

In [2]:
# WAP to create matrix taking no of rows, columns and data as input
# [[1,2,3],[4,5,6],[7,8,9]]

r = int(input("Enter r = "))
c = int(input("Enter c = "))
mat = []
for i in range(r):
    y = []
    for j in range(c):
        x = int(input("Enter x = "))
        y.append(x)
    mat.append(y)
print(mat)

Enter r = 3
Enter c = 3
Enter x = 1
Enter x = 2
Enter x = 3
Enter x = 4
Enter x = 5
Enter x = 6
Enter x = 7
Enter x = 8
Enter x = 9
[[1, 2, 3], [4, 5, 6], [7, 8, 9]]