In [2]:
import mysql.connector
#importing database
database = mysql.connector.connect(
    host="localhost",
    user="root",
    password="",
    database = 'python_class3pm'
)
db = database.cursor()

In [5]:
db.execute("SELECT * FROM student")
result =db.fetchall()
# print(result)
for x in result:
    print(x)

(1, 'Sabin', 90, 90, 77, 56, 90, 400.0, 80.0, 'A')
(2, 'Nabin', 90, 90, 77, 56, 90, 400.0, 80.0, 'A')
(3, 'Rakesh', 78, 67, 89, 90, 78, 430.0, 83.0, 'A')
(6, 'Nabin', 89, 78, 73, 85, 78, 430.0, 83.0, 'A')
(7, 'Nabin', 89, 78, 73, 85, 78, 430.0, 83.0, 'B')

In [6]:
db.execute("SELECT sn,name,total,per,grade FROM student")
result =db.fetchall()
# print(result)
for x in result:
    print(x)

(1, 'Sabin', 400.0, 80.0, 'A')
(2, 'Nabin', 400.0, 80.0, 'A')
(3, 'Rakesh', 430.0, 83.0, 'A')
(6, 'Nabin', 430.0, 83.0, 'A')
(7, 'Nabin', 430.0, 83.0, 'B')

In [11]:
# db.execute("SELECT * FROM student WHERE grade = 'A'")
db.execute("SELECT * FROM student WHERE per > 80 and grade = 'A'")
result =db.fetchall()
# print(result)
for x in result:
    print(x)

(3, 'Rakesh', 78, 67, 89, 90, 78, 430.0, 83.0, 'A')
(6, 'Nabin', 89, 78, 73, 85, 78, 430.0, 83.0, 'A')

In [10]:
db.execute("SELECT * FROM student WHERE name = 'Rakesh'")
result =db.fetchall()
# print(result)
for x in result:
    print(x)

(3, 'Rakesh', 78, 67, 89, 90, 78, 430.0, 83.0, 'A')

In [14]:
# insert
sql = '''INSERT INTO student (name,physics,chemistry,math,english,nepali,total,per, grade) 
       VALUES ('Nabin', 90, 78, 67, 99, 90, 400, 75, 'A')'''
db.execute(sql)
database.commit()

In [ ]:
n = int(input("Enter n = "))
for i in range(n):
    name = input("Enter name = ")
    physics = int(input("Enter physics = "))
    chemistry = int(input("Enter chemistry = "))
    math = int(input("Enter math = "))
    english = int(input("Enter english = "))
    nepali = int(input("Enter nepali = "))
    total = physics + chemistry + math + english + nepali
    per = total/500*100
    if per >= 80:
        grade  = 'A'
    elif per >= 60:
        grade = 'B'
    elif per >= 45:
        grade = 'C'
    else:
        grade = 'F'

    sql = f'''INSERT INTO student (name,physics,chemistry,math,english,nepali,total,per, grade) 
        VALUES ('{name}',{physics},{chemistry},{math},{english},{nepali},{total},{per},'{grade}')'''
    db.execute(sql)
    
database.commit()

In [3]:
#Update
name = input("Enter name = ")
sn = int(input("Enter sn = "))
sql = f"UPDATE student SET name = '{name}' WHERE sn = {sn}"
db.execute(sql)    
database.commit()

In [4]:
#Delete
sn = int(input("Enter sn = "))
sql = "DELETE FROM student WHERE sn = {sn}"
db.execute(sql)
database.commit()