In [1]:
# # Set
# -No indexing
# -Multiple but no duplicate values
# -UnOrdered
# -Mutable

In [3]:
s = {1,2,3,4,5,6,7,8,9,0}
print(type(s))
print(s)

<class 'set'>
{0, 1, 2, 3, 4, 5, 6, 7, 8, 9}

In [4]:
a = set()
a

set()

In [1]:
a = {"Apple","Ball","Cat","Dog","Fish","Goat"}
print(a)

{'Cat', 'Fish', 'Ball', 'Goat', 'Dog', 'Apple'}

In [2]:
a[0]

TypeError: 'set' object is not subscriptable

In [1]:
a = {"Apple","Ball","Cat","Dog","Fish","Goat"}

for i in a:
    print(i)

Cat
Apple
Fish
Ball
Dog
Goat

In [3]:
a = {"Apple","Ball","Cat","Dog","Fish","Goat","Apple","Ball","Ball","Cat"}
a

{'Apple', 'Ball', 'Cat', 'Dog', 'Fish', 'Goat'}

In [4]:
# Set
# add()
# remove()
# update

In [6]:
s = set()
s.add("Apple")
s.add("Ball")
s.add("Cat")
s

{'Apple', 'Ball', 'Cat'}

In [7]:
a = {"Apple","Ball","Cat"}
b = {1,2,3,4,5,6}
a.update(b)
a

{1, 2, 3, 4, 5, 6, 'Apple', 'Ball', 'Cat'}

In [8]:
# intersection()
# union()
# difference()

In [15]:
skills = {'python','html','django','css','js'}
job = {'python','django','html','css','java','c','c++','.net'}

skills.intersection(job) #commen values

{'css', 'django', 'html', 'python'}

In [16]:
skills.union(job)

{'.net', 'c', 'c++', 'css', 'django', 'html', 'java', 'js', 'python'}

In [17]:
# skills in you but not in job
skills.difference(job)

{'js'}

In [18]:
# skills in job but not in you
job.difference(skills)

{'.net', 'c', 'c++', 'java'}

In [ ]:
# WAP to create set taking values from users

In [1]:
# No mutable datatype inside set
#inside set no list dict set

In [2]:
s = {[1,2,3],[4,5,6]}
s

TypeError: unhashable type: 'list'

In [3]:
s = {{1,2,3},{4,5,6}}
s

TypeError: unhashable type: 'set'

In [4]:
s = {(1,2,3),(4,5,6)}
s

{(1, 2, 3), (4, 5, 6)}