In [1]:
a = 'Hello World'
b = "Hello World"
c = '''Hello World'''
print(type(a))
print(type(b))
print(type(c))

<class 'str'>
<class 'str'>
<class 'str'>

In [2]:
a = 'Hello '
b = 'World'
c = a + b
print(c)

Hello World

In [4]:
a = "Hello World\n"
print(a*2)

Hello World
Hello World

In [5]:
a = input("Enter a = ")
print(a)

Enter a = sfssdf
sfssdf

In [7]:
a = "Hello World"
print(a[0])
print(a[0:5])
print(a[0:10:2])

H
Hello
HloWr

In [10]:
a = "Hello World"
a[-2]

'l'

In [15]:
a = "Hello World"
print(a[-1:-12:-1])
print(a[::-1])

dlroW olleH
dlroW olleH

In [19]:
a = "Hello World"
l = len(a)
for i in range(l):
    print(a[i],end = "")

Hello World

In [40]:
a = "Hello World"
l = len(a)
i = 0
while i<l:
    print(a[i],end = "")
    i = i+1

Hello World

In [20]:
# string concatination
name = "Ram"
age = 34
add = "Kathmandu"

info = "Hello World I am " + name + " I am from " + add + " I am " + str(age)
print(info)

Hello World I am Ram I am from KathmanduI am 34

In [21]:
# String formatting
name = input("Enter name = ")
age = int(input("Enter age = "))
add = input("Enter add = ")

info = f"Hello world I am {name}. I am from {add}. I am {age}"
print(info)

Enter name = Ram
Enter age = 89
Enter add = kathmandu
Hello world I am Ram. I am from kathmandu. I am 89

In [ ]:
i = 0
bill = ""
all_total = 0
n = int(input("Enter n= "))
while i<n:
    name = input("Enter name = ")
    price = int(input("Enter price = "))
    qty = int(input('Enter quantity = '))
    total = price * qty
    bill = bill + f"{name} {price} {qty} {total}\n"
    all_total = all_total + total
    i = i+1
print(bill)

In [24]:
# search
a = "Ram Shyam Hari Sita Nabin Ram Akash"
name = input("Enter name = ")
if name in a:
    print("Yes")
    print(a.count(name))
else:
    print("The is no",name)

Enter name = ram
The is no ram

In [26]:
a = "Ram Shyam Hari Sita Nabin Ram Akash"
print(a.upper())

a = "Ram Shyam Hari Sita Nabin Ram Akash"
print(a.lower())

print(a)

RAM SHYAM HARI SITA NABIN RAM AKASH
ram shyam hari sita nabin ram akash
Ram Shyam Hari Sita Nabin Ram Akash

In [30]:
# search
a = "Ram Shyam Hari Sita Nabin Ram Akash Ramesh".lower()
name = input("Enter name = ").lower()
if name in a:
    print("Yes")
    print(a.count(name))
else:
    print("The is no",name)

Enter name = a
Yes
9

In [32]:
# replace
a = "Ram Shyam Hari Sita Nabin Ram Akash Ramesh"
a = a.replace("Ram","ram")
print(a)

ram Shyam Hari Sita Nabin ram Akash ramesh

In [33]:
# replace
a = "Ram Shyam Hari Sita Nabin Ram Akash Ramesh"
a = a.replace("Ram ","ram ")
print(a)

ram Shyam Hari Sita Nabin ram Akash Ramesh

In [36]:
a = "Ram Shyam Hari Sita Nabin Ram Akash Ramesh"
a = a.replace("Ram ","")
a

'Shyam Hari Sita Nabin Akash Ramesh'

In [37]:
# title() split()
a = "ram shyam hari sita nabin ram akash"
a.title()

'Ram Shyam Hari Sita Nabin Ram Akash'

In [38]:
a = "ram shyam hari sita nabin ram akash"
a.split()

['ram', 'shyam', 'hari', 'sita', 'nabin', 'ram', 'akash']