In [1]:
# # tuple
# -Indexing
# -Ordered
# -Multiple and duplicate data
# -Imutable

In [3]:
a = (1,2,3,4,5,6,7,8,9)
print(type(a))
print(a)

<class 'tuple'>
(1, 2, 3, 4, 5, 6, 7, 8, 9)

In [8]:
a = ("Apple","Ball","Cat","Fish","Gota","Apple")
print(a[0])
print(a[0:5])
print(a[0:6:2])

Apple
('Apple', 'Ball', 'Cat', 'Fish', 'Gota')
('Apple', 'Cat', 'Gota')

In [ ]:
gender = ("Male","Female","Other")

In [13]:
a = ("Apple",)
#a = tuple()
print(type(a))

<class 'tuple'>

In [14]:
# No append() insert() extend()
# No update
# No sort()
# No del remove() pop()

In [16]:
t = ()
n = int(input("Enter n = "))
for i in range(n):
    x = int(input("Enter x = "))
    t = t + (x,)
    
print(t)

Enter n = 10
Enter x = 234
Enter x = 56
Enter x = 678
Enter x = 8909
Enter x = 345
Enter x = 56
Enter x = 768
Enter x = 987
Enter x = 32
Enter x = 56
(234, 56, 678, 8909, 345, 56, 768, 987, 32, 56)

In [17]:
a = (234, 56, 678, 8909, 345, 56, 768, 987, 32, 56)
print(min(a))
print(max(a))
print(sum(a))

32
8909
12121

In [18]:
a = (234, 56, 678, 8909, 345, 56, 768, 987, 32, 56)
b = list(a)
b

[234, 56, 678, 8909, 345, 56, 768, 987, 32, 56]

In [20]:
a = (234, 56, 678, 8909, 345, 56, 768, 987, 32, 56)
b = list(a)
del b[0]
a = tuple(b)
print(a)

(56, 678, 8909, 345, 56, 768, 987, 32, 56)

In [21]:
# tuple inside list
l = [(1,2,3),
    (4,5,6,7),
    (8,9,0)]
l

[(1, 2, 3), (4, 5, 6, 7), (8, 9, 0)]

In [23]:
# list inside tuple
t = ([1,2,3],
    [4,5,6],
    [7,8,9])
t

([1, 2, 3], [4, 5, 6], [7, 8, 9])

In [24]:
# tuple inside tuple
t = ((1,2,3),
    (4,5,6),
     (7,8,9))

In [30]:
data = []
l = list(t)
for i in l:
    data.append(list(i))
    
data

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]

In [2]:
# WAP to convert list inside list to tuple inside tuple
a = [[1, 2, 3], [4, 5, 6], [7, 8, 9]]
t = tuple()
for i in a:
    t = t + (tuple(i),)
    
print(t)

((1, 2, 3), (4, 5, 6), (7, 8, 9))